<nav class="navbar">

     <a href="/" class="logo">InsiderAI</a>

    <div class="nav-links">
        <a href="/" class="nav-item {% if request.path == '/' %}active{% endif %}">Dashboard</a>
        <a href="/smart-money-trend" class="nav-item">Smart Money</a>
        <a href="/prediction" class="nav-item">AI Stock Forecast Lab</a>
    </div>
<!--    <div class="auth-links">-->
<!--        <div class="profile-menu">-->
<!--            👤-->
<!--            <a href="/logout">-->
<!--                Logout-->
<!--            </a>-->
<!--        </div>-->

<!--        <a href="/login">Login</a>-->
<!--        <a href="/signup">Sign Up</a>-->


<!--    </div>-->

</nav>